In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
import pickle
import gzip
import os

In [2]:
#DATASET_NAME = "TaFeng"
DATASET_NAME = "Dunnhumby"

In [3]:
# Ta Feng Dataset
df = pd.read_csv(f'../../cleaned_dataset/{DATASET_NAME}_clean.csv')
df

         TRANSACTION_DT  PRODUCT_ID  CUSTOMER_ID  CART_ID  NEW_ITEM_ID
0              20060416  PRD0900173           31        0            0
1              20060416  PRD0900199           31        0            1
2              20060416  PRD0900867           31        0            2
3              20060416  PRD0901294           31        0            3
4              20060416  PRD0901986           31        0            4
...                 ...         ...          ...      ...          ...
1786228        20060702  PRD0904693       999976   250579          700
1786229        20060702  PRD0904813       999976   250579         1715
1786230        20060702  PRD0903963       999976   250579         1818
1786231        20060702  PRD0904560       999976   250579         1609
1786232        20060702  PRD0903056       999976   250579         2410

[1786233 rows x 5 columns]

In [4]:
# 將資料集按用戶和購物籃分組，然後將商品 ID 轉換成字串
grouped = df.groupby(['CUSTOMER_ID', 'CART_ID'])['NEW_ITEM_ID'].apply(lambda x: ' '.join(str(v) for v in x)).reset_index()

# 將分組後的資料轉換成序列格式
sequences = grouped.groupby('CUSTOMER_ID')['NEW_ITEM_ID'].apply(lambda x: '|'.join(x)).reset_index(name='sequence')

# 輸出序列格式的資料集
sequences

       CUSTOMER_ID                                           sequence
0               31  0 1 2 3 4 5 6 7 8 9 10|11 12 13|14 15 16 17 4 ...
1               68  51 52 53 54|55 56 57 58|59 56 60 61 62|63|64 6...
2              180  151 152 153 154 122 11 155 156 157 62 158 159 ...
3              324  0 41 242 243 244 231 245 246 139 247 248 110 2...
4              358  307 0 63 308 309 310 11 311 312 313 158 314 30...
...            ...                                                ...
12821       999696  130 172|130 1668 1925 2679|130 631 358 1499 17...
12822       999698  162 1829 1502 1123 1516 778 708|1814 1827 1830...
12823       999718  2083 568 290 1489 16 274 1081 107 280 558 138 ...
12824       999934  0 1393 1607 540 2153 67 2362 2520 913 1502 286...
12825       999976  1977 903 2228 1172 11 2934 62|2736 290 1813 91...

[12826 rows x 2 columns]

In [5]:
train_df , test_df = train_test_split(sequences, train_size=0.7, test_size=0.3)
valid_df, test_df = train_test_split(test_df, train_size=0.33, test_size=0.67)
print(len(train_df), len(valid_df), len(test_df))

8978 1269 2579

In [6]:
test = pd.DataFrame(valid_df.drop(columns=['CUSTOMER_ID']))
test['sequence']

6040     787 183 998 2769|2792 321 671 70 2101 1016 256...
5298     2824 1240 142 106 1700 1235 415 1435 1310 966 ...
4136     371 1350 641 1012 1299 2729 8 196 1492|1526 8|...
98       1260 2440 2440 897 897|892 2164|1464 2371 254 ...
3615     8|590 11 744|64 973 744 8 1908 421|2297 744 8 ...
                               ...
350      1787 2386 1148 1959 1077|788|372|0 788|289 108...
12639    1866|1233 914|1793 1369 2035 495 858 1540 110 ...
8231     47 52 378 1275 1275 331 532|88 1275|39 247|929...
503      36 2645 64 1881 911 176 2677 338 692 904 696|1...
2890     1737 1790|2853|1536 190 2841 1689 2423|36 495 ...
Name: sequence, Length: 1269, dtype: object

In [7]:
if not os.path.exists("./data_dir"):
    os.mkdir("./data_dir")
pd.DataFrame(train_df.drop(columns=['CUSTOMER_ID'])).to_csv(f'./data_dir/{DATASET_NAME}_train.txt',sep="\n",index=False,header=False)
pd.DataFrame(valid_df.drop(columns=['CUSTOMER_ID'])).to_csv(f'./data_dir/{DATASET_NAME}_validate.txt',sep="\n",index=False,header=False)
pd.DataFrame(test_df.drop(columns=['CUSTOMER_ID'])).to_csv(f'./data_dir/{DATASET_NAME}_test.txt',sep="\n",index=False,header=False)

In [8]:
len(df['NEW_ITEM_ID'].unique())

3003